.manage-page {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.create-recording {
  width: 20vw;
  box-sizing: border-box;
  border-right: 5px solid black;
}

form {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

input[type="text"], select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #f1f1f1;
}

button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  border: none;
  border-radius: 5px;
  color: #f9f9f9;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}


.edit-recordings {
  width: 80vw;
  height: 100%;
}

.scroll-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}

.row {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: #f9f9f9;
}

.row:nth-child(even) {
  background-color: #f1f1f1;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  background-color: inherit;
}