.search-inputs {
  display: flex;
}

.search input {
  background-color: white;
  border: 0;
  border-radius: 6px 0 0 6px;
  font-size: 15px;
  padding: 5px 5px 5px 10px; 
  height: 25px;
  width: 300px;
}

.search-icon {
  height: 35px;
  width: 35px;
  color: #00abb4;
  background-color: white;
  display: grid;
  place-items: center;
  border-radius: 0 6px 6px 0;
}

.close-icon {
  height: 35px;
  width: 35px;
  color: black;
  background-color: white;
  display: grid;
  place-items: center;
  border-radius: 6px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

input:focus {
  outline: none;
}

.search-icon svg {
  font-size: 35px;
}

.search-result {
  margin-top: 5px;
  width: 300px;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
  z-index: 2;
}

.search-result::-webkit-scrollbar {
  display: none;
}

.search-result .search-item {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.search-item p {
  margin-left: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: lightgrey;
}

#clearBtn {
  cursor: pointer;
}