.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 45px;
  background-color: #241909;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar a {
  color: inherit;
}

.navbar-left {
  display: flex;
  flex: 2;
}

.navbar-middle {
  flex: 2;
}

.navbar-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.navbar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar li {
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding: 0 1rem;
}

/* .navbar li.active {
  background-color: #3d291b;
}

.navbar li:hover {
  background-color: #aaa;
} */