.player-container{
  width: 420px;
  height: 240px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background: url('src/assets/Melamine-wood-002.png') repeat-x 0 0 scroll;
  border: 1px solid #999;
  border-radius: 3px;
  float: left;
  z-index: 3;
  border-radius: 10px;
}

.cursor {
  text-align: center;
  cursor: move;
  color: white
}

.btn-swap {
  text-align: left;
  margin-left: 20px;
}