.player-container{
  width: 440px;
  height: 260px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background: url('/src/assets/Melamine-wood-002.png') repeat-x 0 0 scroll;
  border-radius: 3px;
  float: left;
  border-radius: 10px;
  box-shadow: 3px 5px 5px black;
}

.cursor {
  text-align: center;
  cursor: move;
  color: white
}

.btn-swap {
  text-align: left;
  margin-left: 20px;
}