.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 200px 0 0 0; /* for debugging with inspect */
}

.music-player-undocked {
  z-index: 3;
  position: absolute;
  top: 50px;
  right: 10px;
}